.header {
  display: flex;
  align-items: center;
  height: 15rem;
  background-color: grey;

  &__frame {
    height: 15rem;
    & > img {
      height: 100%;
    }
  }

  &__title {
    font-size: 5rem;
  }
}
