.left {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  color: white;

  &__location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    width: 100%;

    &--title {
      font-size: 5rem;
      grid-column: 2 / 4;
    }
  }

  &__icon {
    height: 3rem;
    width: 10rem;
    fill: white;
    justify-self: flex-end;
  }

  &__date {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    &--title {
      font-size: 2.5rem;
      font-weight: 100;
      grid-column: 2 / 4;
    }
  }

  &__temperature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  &__temp-cont {
    display: flex;
    flex-direction: column;
  }

  &__temp {
    height: 5rem;
    width: 10rem;
    fill: rgb(255, 123, 0);
    justify-self: end;
    align-self: flex-start;
    margin-top: 4rem;
  }
  &__temperature--main {
    font-size: 8rem;
  }

  &__temperature--feels {
    font-size: 2.5rem;
    font-weight: 100;
  }
}
