.middle {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(53, 143, 196);
  &__logo {
    height: 41.5rem;
  }
  &__text {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
  }
}
